
    <mat-card-content>
      <div class="header" style="font-weight: 1000;">
        <mat-toolbar>
         <span style="margin:auto; display:table;">
         Entry Harddisk Detail</span>
        </mat-toolbar>
      </div>
      <br>
      <form autocomplete="off" class="harddiskform" [formGroup] = "harddiskform" (ngSubmit)="entrydetail(harddiskform.value)">

<p>
          <mat-form-field appearance="fill" class="number"  >
            <mat-label>Purpose</mat-label>
            <input matInput type="text" formControlName="purpose" placeholder="Please Enter purpose "required/>
            <mat-error *ngIf="!harddiskform.controls['purpose'].valid">Purpose is required </mat-error>
          </mat-form-field>
</p>

<p>
    <mat-form-field appearance="fill" class="number"  >
      <mat-label>Entry date</mat-label>
      <input matInput type="date" [disabled]="true"   formControlName="entrydate"  placeholder="dd-MM-yyyy hh:mm"required/>
      <mat-error *ngIf="!harddiskform.controls['entrydate'].valid">Entry date is required </mat-error>
    </mat-form-field>
</p>





    <div class="button" style="margin-left: 3%;margin-top:-1%;">
        <button type="button" class="button-row" mat-raised-button color="primary" (click)=cancel()>Cancel</button>
    </div>


    <div class="button" style="margin-left:56%;margin-top:-15%;">
        <button type="submit" class="button-row" mat-raised-button disabled color="primary" [disabled]="!harddiskform.valid">Submit</button>
    </div>

      </form>
    </mat-card-content>



