
    <mat-card-content>
      <div class="header" style="font-weight: 1000;">
        <mat-toolbar>
         <span style="margin:auto; display:table;">
         Entry Harddisk Detail</span>
        </mat-toolbar>
      </div>
      <br>
      <form autocomplete="off" class="harddiskform" [formGroup] = "harddiskform" (ngSubmit)="entrydetail(harddiskform.value)">

<p>
          <mat-form-field appearance="fill" class="number"  >
            <mat-label>Purpose</mat-label>
            <input matInput type="text" formControlName="purpose" placeholder="Please Enter purpose "required/>
            <mat-error *ngIf="!harddiskform.controls['purpose'].valid">Purpose is required </mat-error>
          </mat-form-field>
</p>

<p>
    <mat-form-field appearance="fill" class="number"  >
      <mat-label>Entry date</mat-label>
      <input matInput type="date" [disabled]="true"   formControlName="entrydate"  placeholder="dd-MM-yyyy hh:mm"required/>
      <mat-error *ngIf="!harddiskform.controls['entrydate'].valid">Entry date is required </mat-error>
    </mat-form-field>
</p>



<!-- <p>
    <mat-form-field appearance="fill" class="number"  >
      <mat-label>Return date</mat-label>
      <input matInput type="date" name="number" formControlName="returndate" placeholder="Please Enter Return date  "/>
      <mat-error *ngIf="!harddiskform.controls['returndate'].valid">Return date is required </mat-error>
    </mat-form-field>
</p> -->

    <div class="button" style="margin-left: 3%;margin-top:-1%;">
        <button type="button" class="button-row" mat-raised-button color="primary" (click)=cancel()>Cancel</button>
    </div>


    <div class="button" style="margin-left:56%;margin-top:-15%;">
        <button type="submit" class="button-row" mat-raised-button disabled color="primary" [disabled]="!harddiskform.valid">Submit</button>
    </div>

      </form>
    </mat-card-content>



<!-- 
    // import { Injectable } from '@angular/core';
// import { ActivatedRouteSnapshot, CanActivate, Router, RouterStateSnapshot } from "@angular/router";
// import { AngularFireAuth } from "@angular/fire/auth";
// import { Observable } from 'rxjs';
// import { take, map, tap } from 'rxjs/operators';
// import { AngularFirestore } from '@angular/fire/firestore';
// import * as firebase from 'firebase/app';
// import {first} from 'rxjs/operators'

// @Injectable({
//   providedIn: 'root'
// })
// export class AuthService implements CanActivate {
//   activateScreen = false
//   authState: any = null;
//   userdata:any;
//   uid
//   pid
//   constructor(public firestore : AngularFirestore, public afu : AngularFireAuth, public router : Router) {

//     this.userdata = this.afu.authState.pipe(first()).toPromise()

//    }
//   canActivate(next: ActivatedRouteSnapshot, state: RouterStateSnapshot): Observable<boolean> | Promise<boolean> | boolean {
//     this.afu.user.subscribe(user=>{
//       if(user != null){
//         this.uid = user.uid
//       }
//     })
//     return this.afu.user.pipe(
//       take(1),
//       map(user => !!user),
//       tap(loggedIn => {
//         if (!loggedIn) {
//           console.log('access denied: authguard')
//           this.router.navigate(['login'], { queryParams: { returnUrl: state.url }});
//         }
//       })
//     )
//   }
//   async setUid(value){
//     this.uid = value
//   }
//   async getuid(){
//     console.log(this.uid)
//     return this.uid
//   }
//   registerWithEmail( email: string, password: string ) {
//     return this.afu.createUserWithEmailAndPassword( email, password)
//       .then((user) => {
//         this.authState = user
//         console.log(user);
//         return user
//       })
//       .catch(error => {
//         console.log(error.message)
//         throw error
//       });
//   }
//   loginWithEmail(email: string, password: string)
//   {
//     return this.afu.signInWithEmailAndPassword(email, password)
//       .then((user) => {
//         this.authState = user
//       })
//       .catch(error => {
//         console.log(error.message)
//         throw error.message
//       });
//   }
//   resetPassword(email:string){
//     return this.afu.sendPasswordResetEmail(email).then(()=>{
// console.log('reset password link sent successfully');
//     }).catch(error => {
//       console.log(error.message)
//       throw error.message
//     });
//   }
//     signout(): void
//   {
//     let out = confirm('are you sure want to logout')
//     console.log(out);
//      if(out){
//       this.afu.signOut();
//       this.router.navigate(['/login']);
//      }
//   }
//   // async getRoles(){
//   //   var roles
//   //   await this.firestore.collection("profile_data", ref=>ref.where("user_ref", "==", this.firestore.collection("user_data").doc(this.uid).ref)).get().toPromise().then(async profileData=>{
//   //     roles = (await this.firestore.doc(profileData.docs[0].data()['role_ref']['path']).get().toPromise()).data()
//   //   })
//   //   return roles
//   // }
// }
   -->