            

        <mat-toolbar>
          <span style="margin:auto; display:table;">
            Login
        </span>
        </mat-toolbar>
      
      <mat-card>
      <form autocomplete="off" class="loginform" [formGroup] = "loginform" (ngSubmit)="login(loginform.value)">
        <br>
        <p>
          <mat-form-field class="fullwidth" appearance="outline" style= "width: 14%">
            <mat-label>Email</mat-label>
            <input type="text" name="email" class="mail" formControlName="email" matInput placeholder="Enter Email ID " required/>
            <mat-error *ngIf="!loginform.controls['email'].valid">Email ID is required </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width" appearance="outline" style= "width: 14%">
            <mat-label>Password</mat-label>
            <input type="password" name="password"  class="form-control" formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!loginform.controls['password'].valid">Password is required</mat-error>
        </mat-form-field>

      </p>
     
        <p>
        <button type="submit" class="button-row" mat-raised-button color="primary" [disabled]="!loginform.valid" >Login</button>
        </p>

        <p>
          <button class="button" mat-button><a href="#" style="color: black;" routerLink="/register">Create New Account</a></button>
  
        </p>

      </form>

  </mat-card>
