<h2 style="text-align: center;">Reset Password Works!</h2>
    <p style="text-align: center;">We can send you a reset link</p>
<mat-card>
    <mat-form-field class="fullwidth" appearance="outline" style= "width: 14%">
        <mat-label>Email</mat-label>
        <input type="text" name="email" class="mail" [(ngModel)]="email" matInput placeholder="Enter your email " required/>
    </mat-form-field>
    <br>
    <button  type="submit" class="buton-row" mat-raised-button="primary" (click)="resetPassword(email)">Reset Password</button>
</mat-card>