<mat-card-content>
      <div class="header"  style="font-weight: 1000;"> 
        <mat-toolbar>
          <span style="margin:auto; display:table;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Return Hard-Disk Details
        </span>
        </mat-toolbar>
      </div>
      <br>
      <form autocomplete="off" class="harddiskform" [formGroup] = "harddiskform" (ngSubmit)="returndetail(harddiskform.value)">

        <p>
          <mat-form-field appearance="fill" class="number"  >
          <mat-label>Return date</mat-label>
          <input matInput type="datetime-local" [disabled]="true" formControlName="returndate" placeholder="dd-MM-yyyy hh:mm"required/>
          <mat-error *ngIf="!harddiskform.controls['returndate'].valid">Return date is required </mat-error>
          </mat-form-field>
        </p>

        <div class="button" style="margin-left: 3%;margin-top:-1%;">
         <button type="button" class="button-row" mat-raised-button color="primary" (click)=cancel()>Cancel</button>
        </div>

        <div class="button" style="margin-left: 56%;margin-top:-15%;">
          <button type="submit" class="button-row" mat-raised-button color="primary" >Submit</button>
        </div>
        
      </form>
</mat-card-content>
  
