<div class="header" style="font-weight: 1000;" >
  <mat-toolbar>
   <span style="margin:auto; display:table;">
    HARDDISK LIST</span>
  </mat-toolbar>
</div>
<mat-form-field appearance="standard">
    <mat-label>FilterBy</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter Person Name" #input>
  </mat-form-field>
  
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
  
      <ng-container matColumnDef="harddiskname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Harddiskname </th>
        <td mat-cell *matCellDef="let row"> {{row.harddiskname}} </td>
      </ng-container>
  
      <ng-container matColumnDef="harddiskno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Harddiskno </th>
        <td mat-cell *matCellDef="let row"> {{row.harddiskno}} </td>
      </ng-container>
      <ng-container matColumnDef="block">
        <th mat-header-cell *matHeaderCellDef > Block/Unblock </th>
        <td mat-cell *matCellDef="let row"> 
        <mat-checkbox [checked]="row.block" (change)="check($event,row.id)" ></mat-checkbox>
        <label *ngIf="row.name!=null ">Used By {{row.name}}</label>       
        </td>
      </ng-container>
      




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}" </td>
        </tr>
    </table>
    
      <mat-paginator [pageSizeOptions]="[10,20]"></mat-paginator>
</div>