<div class="header" style="font-weight: 1000;" >
  <mat-toolbar>
   <span style="margin:auto; display:table;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">HARDDISK DATABASE</span>
  </mat-toolbar>
</div>

  <mat-form-field appearance="standard">
    <mat-label>FilterBy</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter Person Name" #input>
  </mat-form-field>
  
<div class="table mat-elevation-z8">
  
    <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="harddiskno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Harddiskno </th>
          <td mat-cell class="row"*matCellDef="let row"> {{row.harddiskno}} </td>
        </ng-container>
    
        <ng-container matColumnDef="harddiskname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Harddiskname </th>
          <td mat-cell class="row" *matCellDef="let row"> {{row.harddiskname}} </td>
        </ng-container>
  
        <ng-container matColumnDef="harddiskinfo">
          <th mat-header-cell class="row1" *matHeaderCellDef mat-sort-header> HarddiskInfo </th>
          <td mat-cell class="row1" *matCellDef="let row">
             <label>{{row.harddiskinfo}}</label>            <!-- Check on style css -->
          </td>
        </ng-container>
  
        <ng-container matColumnDef="brandname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> BrandName </th>
          <td mat-cell class="row" *matCellDef="let row"> {{row.brandname}} </td>
        </ng-container>
  
        <ng-container matColumnDef="brandcolor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> BrandColor </th>
          <td mat-cell class="row" *matCellDef="let row"> {{row.brandcolor}} </td>
        </ng-container>
        
        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
          <td mat-cell class="row" *matCellDef="let row"> {{row.capacity}} </td>
        </ng-container>

        <ng-container matColumnDef="serialno">
          <th mat-header-cell class="row" *matHeaderCellDef mat-sort-header> SerialNo </th>
          <td mat-cell class="row" *matCellDef="let row"> {{row.serialno}} </td>
        </ng-container>
  
        <ng-container matColumnDef="harddiskpassword">
          <th mat-header-cell class="row" *matHeaderCellDef mat-sort-header> Harddisk Password </th>
          <td mat-cell class="row1" *matCellDef="let row"> {{row.harddiskpassword}} </td>
        </ng-container>
  
        <ng-container  matColumnDef="block">
          <th  mat-header-cell class="row" *matHeaderCellDef > Block/Unblock </th>
          <td  mat-cell class="row1" *matCellDef="let row"> 
          <mat-checkbox  [checked]="row.block"  (change)="check($event,row.id)" ><b>{{row.block == true ? 'Blocked' : '' }}</b></mat-checkbox> <!-- For Blocked Visible or not-->
          </td>
        </ng-container> 

        <ng-container matColumnDef="edit">
          <th mat-header-cell class="row" *matHeaderCellDef > Edit </th>
          <td mat-cell class="row" *matCellDef="let row"> <button mat-mini-fab color="primary" type="button" (click)=onrowedit(row.id) ><mat-icon>edit_note</mat-icon></button> </td>
        </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}" </td>
          </tr>
    </table>
      <mat-paginator [pageSizeOptions]="[10,50,100,150,200,250,300]"></mat-paginator>
  
</div>
