

  <div class="header" style="font-weight: 1000;" >
    <mat-toolbar>
      <span style="margin:auto; display:table;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      AVAILABLE HARDDISK</span>
    </mat-toolbar>
  </div>


<mat-form-field appearance="standard">
  <mat-label>FilterBy</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Enter Person Name" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table  [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="harddiskno">
      <th mat-header-cell class="row" *matHeaderCellDef mat-sort-header> Harddiskno </th>
      <td mat-cell class="row1" *matCellDef="let row"> {{row.harddiskno}} </td>
    </ng-container>

    <ng-container matColumnDef="harddiskname">
      <th mat-header-cell class="row" *matHeaderCellDef mat-sort-header> Harddiskname </th>
      <td mat-cell class="row1"  *matCellDef="let row"> {{row.harddiskname}} </td>
    </ng-container>

    <ng-container matColumnDef="harddiskinfo">
      <th mat-header-cell class="row " *matHeaderCellDef mat-sort-header> HarddiskInfo </th>
      <td mat-cell class="row1" *matCellDef="let row"> <label>{{row.harddiskinfo}}</label> </td>      <!-- Check on style css -->
    </ng-container>

    <ng-container matColumnDef="entry">
      <th mat-header-cell class="row" *matHeaderCellDef > Entry </th>
      <td mat-cell class="row1" *matCellDef="let row"> <button mat-raised-button color="primary" type="button"(click)=onrowentry(row.id) >Entry</button> </td>
    </ng-container>

    <!-- <ng-container matColumnDef="edit">
      <th mat-header-cell class="row" *matHeaderCellDef > Edit </th>
      <td mat-cell class="row1" *matCellDef="let row"> <button mat-mini-fab color="primary" type="button" (click)=onrowedit(row.id) ><mat-icon>edit_note</mat-icon></button> </td>
    </ng-container> -->

    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}" </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10,50,100,150,200,250,300]"></mat-paginator>
</div>
<br>
<br>
<br>
<br>


