table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 200px;
}
.button{
  float: right;
}
.mat-toolbar {
    background: #89b1ee85;
    color: rgba(0,0,0,.87);
}
