<mat-card>
    <mat-card-content>
      <div class="header" style="font-weight: 1000;">
        <mat-toolbar>
          <span style="margin:auto; display:table;">
            Registration Page
        </span>
        </mat-toolbar>
      </div>
      
      <br>
      <form autocomplete="off" class="registerform" [formGroup] = "registerform" (ngSubmit)="register(registerform.value)">
<p>
          <mat-form-field appearance="outline" style= "width: 14%" >
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" formControlName="name" placeholder="please enter name"required/>
            <mat-error *ngIf="!registerform.controls['name'].valid">Name is required </mat-error>
          </mat-form-field>
</p>
<p>
          <mat-form-field appearance="outline" style= "width: 14%"  >
            <mat-label>Mobile</mat-label>
            <input matInput type="tel" maxlength="10" pattern="^\d{10}$" name="number" formControlName="number" placeholder="please enter mobile number"required/>
            <mat-error *ngIf="registerform.controls['number'].hasError('required')">Mobile Number is required </mat-error>
            <mat-error *ngIf="registerform.controls['number'].hasError('minlength')">Mobile Number must be 10 required</mat-error>
          </mat-form-field>
</p>
<p>
          <mat-form-field appearance="outline" style= "width: 14%" >
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email"  class="form-control" formControlName="email" placeholder="please enter email id"required/>
            <mat-error *ngIf="!registerform.controls['email'].valid">Email is required</mat-error>
          </mat-form-field>
</p>


<p>
  <mat-form-field appearance="outline" class="register" >
    <mat-label> Password</mat-label>
    <input type="password" name="password"  formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
    <button type="button"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
    [attr.aria-pressed]="hide">
    <mat-icon> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</button>
<mat-error *ngIf="registerform.controls['password'].hasError('required')">Password is required</mat-error>
<mat-error *ngIf="registerform.controls['password'].hasError('minlength')">Minimum 6 character required</mat-error>
</mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline" class="register" >
    <mat-label>Confirm Password</mat-label>
     <input type="password" name="confirmpassword" formControlName="confirmpassword" (keyup)="checkpassword()" matInput [type]=" hide ? 'password' : 'text'" required />
     <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
      [attr.aria-pressed]="hide">
     <mat-icon> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
     </button>
     <mat-error *ngIf="registerform.controls['confirmpassword'].hasError('required')">
       Password is <strong>required</strong>
     </mat-error>
   <mat-error *ngIf="registerform.controls['confirmpassword'].hasError('error')">
     Password doesn't <strong>Match</strong>
   </mat-error>
     </mat-form-field>
</p>

      <div class="button">
        <button type="submit" class="button-row" mat-raised-button disabled color="primary" [disabled]="!registerform.valid">Register</button>
    </div>
    <br>
    <p>
      <button class="button" mat-button><a href="#" style="color: black;"  routerLink="/login">Back To Login</a></button>

    </p>

      </form>
    </mat-card-content>
  </mat-card>